body{
    margin:0; 
    padding:0; 
}
.notauthcontainer{
    height: 75vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.notauthcard{
    padding: 30px 40px; 
    border-radius: 6px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    text-align: center; 
}
.notauthhead{
    color: #c0392b;
    margin-bottom: 10px; 
    font-weight: bold; 
}
.notauthbtn{
    padding: 12px; 
    background-color: #ff7043;
    color: white; 
    border-radius: 6px; 
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s; 
    border: none; 
}
.notauthbtn:hover{
    background-color: #e65100;
}