body{
    margin:0; 
    padding:0; 
}
.proddisplay{
    padding: 40px 30px; 
    text-align: center; 
}
.prodgrid{
    display: grid; 
    grid-template-columns:repeat(3,1fr); 
    gap: 30px; 
    padding:0 20px; 
}
.prodcard{
    background: white; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.1); 
    position: relative; 
    overflow: hidden; 
}
.prodimg{
    overflow:hidden;
    border-radius: 10px; 
}
.prodimg img{
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.3s ease;
    border-radius: 10px; 
}
.prodcard:hover img {
    transform: scale(1.1) rotate(1deg);
    filter: brightness(1.1); 
}
.proddishead {
    font-size: 1.3rem;
    margin: 20px 0 10px;
    font-weight: bold;
}
.prodcard p {
    font-size: 0.95rem;
    color: #444;
    text-align: justify;
}
.pricesection{
    display: flex; 
    align-items: center; 
    gap:12px; 
    margin-top: 12px; 
}
.originalprice{
    color: #888;
    text-decoration:line-through; 
    font-size: 1rem; 
}
.offerprice{
    color: #ff5722;
    font-weight: 600; 
    font-size: 1.2rem; 
}
.discountbadge{
    background-color: #ff5722;
    color: white; 
    padding: 2px 8px; 
    font-size: 0.75rem; 
    border-radius: 4px; 
}
